.grid {
 display: flex;
 flex-wrap: wrap;   
}

.grid-item {
    box-sizing: border-box;
    padding: 8px;
    width: 50%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
}

